*.lock
*.gen
*.zip
*.snap
*.index
*.location
*.markers
*.tree
*.dat
*.version
*.resources
*.prefs
*.launch
*.xml
*.xmi
*.fdt
*.fdx
*.fnm
*.frq
*.nrm
*.tii
*.tis
*.json
*.txt
*.png
*.history
*.cfs
*.del
*.ser
*.properties
*.container
*.setup
*.mark
*.js
*.policy
*.state
*.gif
*.jar
*.css
*.woff
*.html
*.ini
*.prx
*.project
